.App {
margin:0;
padding:0;
}

.flex__center{
  display:flex;
  flex-direction:column;
  justify-content:flex-center;
  align-items:flex-center;
}

/* .grids{
  width:250px;
  display:flex;
  flex-wrap:wrap;
} */